HTML {
    margin: 0;
    border: none;
    padding: 0;

    color: #222;
    background: white;
}
BODY {
    margin: 0 auto 4ex auto;
    border: none;
    padding: 0 16px 0 48px;
    overflow: visible;

    max-width: 45em;
    font: 12pt/129% arial, sans-serif, symbol;
}
H1 {
    margin: 16px 0 1ex -32px;

    font-size: 15pt;
    line-height: 110%;
    text-align: left;
    color: black;
    page-break-after: avoid;
}
H2 {
    margin: 2ex 0 .5ex -32px;

    font-size: 13pt;
    line-height: 110%;
    text-align: left;
    color: #111;
    page-break-after: avoid;
}
H2 > CODE {
    white-space: pre;
}
SPAN.type {
    color: gray;
}
CODE {
    font-family: inherit;
    font-weight: bold;
}
P {
    margin: .5ex 0;
}
DL {
    margin: .5ex 0;
}
A {
    text-decoration: inherit;
    color: #050;
}
A:hover {
    text-decoration: underline;
    color: #0A0;
}
UL.index {
    margin: 0;
    border: none;
    padding: 0;
    list-style-type: none;
    text-indent: -32px;
}

UL.nav {
    margin: 0 -16px 0 -48px;
    border: none;
    padding: .5ex 14px;

    text-align: left;
    vertical-align: middle;

    background: #EEE;

    font-weight: bold;
    font-size: 18px;
    line-height: 175%;
}
UL.nav > LI {
    margin: 0;
    display: inline;
}
UL.nav > LI:last-child {
    float: right;
    margin-left: 1em;
}
UL.nav > LI:last-child:before {
    content: "";
}
UL.nav > LI:before {
    content: ". ";
}
UL.nav > LI:first-child:before {
    content: "";
}
UL.nav > LI:first-child + LI:before {
    content: "| ";
}

INPUT#search {
    margin: 0;
    border: 1px solid black;
    padding: 1px;
    width: 12em;
    font: 12pt/100% arial, sans-serif, symbol;
}
BUTTON {
    margin: 0 0 0 1ex;
    font: 12pt/100% arial, sans-serif, symbol;
}

.off {
    display: none;
}

.hidden > * {
    display: none;
}
.hidden > *:first-child {
    display: inherit;
    color: gray;
}
.hidden > *:first-child:hover {
    text-decoration: underline;
    color: black;
}

.ac-renderer {
  font: normal 13px Arial, sans-serif;
  position: absolute;
  background: #fff;
  border: 1px solid #666;
  -moz-box-shadow: 2px 2px 2px rgba(102, 102, 102, .4);
  -webkit-box-shadow: 2px 2px 2px rgba(102, 102, 102, .4);
  width: 300px;
}

.ac-row {
  cursor: pointer;
  padding: .4em;
}

.ac-highlighted {
  font-weight: bold;
}

.ac-active {
  background-color: #b2b4bf;
}
